.game-root 
{
    -fx-background-repeat: stretch;   
 	-fx-background-position: center center;
 	-fx-background-color: radial-gradient(center 50.0% 50.0%, radius 60.0%, reflect, #ADFF2F, black );
 	-fx-effect: dropshadow(three-pass-box, #FF0000, 30.0, 0.5, 0.0, 0.0); 
    -fx-background-insets: 15.0; 
}
.game-vbox 
{
    -fx-background-color: #228B22;
    -fx-padding: 5.0 15.0 5.0 15.0;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-titScore 
{
    -fx-font-size: 15.0px;
    -fx-text-fill: #FFFF00;
}
.game-score 
{
    -fx-font-size: 17.0px;
    -fx-text-fill: #FE0000;
}
.game-points 
{
    -fx-font-size: 15.0px;
    -fx-text-fill: #00ff00;
}
.game-time 
{
    -fx-font-size: 14.0px;
    -fx-text-fill: #bbada0;
}
.game-backGrid 
{
    -fx-background-color: #003300;
    -fx-border-color: #003300; 
    -fx-border-width: 2.0; 
    -fx-background-radius: 6.0;
    -fx-border-radius: 6.0;
}
.game-grid 
{
    -fx-background-color: #00ffff; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-grid-cell 
{
    -fx-fill: #00b300;
    -fx-stroke-width: 14.0px;
    -fx-stroke-type: centered;
    -fx-stroke: #FF0000;
}

.game-label 
{
    -fx-font-smoothing-type: lcd;
    -fx-smooth: true;
    -fx-font-family: 'Clear Sans Bold';
}
.game-title
{ 
	-fx-font: 40.0px Impact;
	-fx-text-fill: #FEAB04;
    -fx-effect: dropshadow( three-pass-box, #00FF00, 10.0, 0.7, 5.0, 8.0 );
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
}
.game-subtitle 
{
	-fx-translate-x: -120.0;
    -fx-translate-y: 40.0;
    -fx-font: 30.0px Impact;
    -fx-text-fill: #0000FF;
    -fx-effect: dropshadow( three-pass-box, #FF0000, 10.0, 0.7, 5.0, 8.0 );
}

.game-overlay 
{
    -fx-font-size: 60.0px;
    -fx-text-fill: #f9f6f2;
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2.0; 
    -fx-background-radius: 6.0;
    -fx-border-radius: 6.0;
}
 .game-overlay-quit 
{
    -fx-opacity: 0.9;
    -fx-background-color: #f9f6f2;
}
.game-lblPause, .game-lblOver, .game-lblQuit 
{
    -fx-font-size: 60.0px;
    -fx-text-fill: #776e65;
}
.game-overlay-won 
{
    -fx-background-color: rgba(237.0, 194.0, 46.0, 0.5);
}
.game-lblWon 
{
    -fx-font-size: 60.0px;
    -fx-text-fill: #f9f6f2;
}
.game-overlay-over 
{
    -fx-opacity: 0.6;
    -fx-background-color: #f9f6f2;
}
.game-overlay-start
{
    -fx-background-color: #00FF00;
}
.game-overlay-pause
{
    -fx-background-color: #00FF00;
}
.game-lblStart
{
    -fx-font-size: 60.0px;
    -fx-text-fill: #FF00FF ;
}
.game-lblpause
{
    -fx-font-size: 60.0px;
    -fx-text-fill: #FF00FF ;
}
.game-button 
{ 
    -fx-font-size: 30.0px;
    -fx-text-fill: white;
    -fx-background-color: #8f7a66;
    -fx-border-color: #8f7a66; 
    -fx-border-width: 2.0; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-padding: 6.0 20.0 12.0 20.0;
}
.game-button:pressed 
{
    -fx-padding: 4.0 22.0 12.0 22.0;
}
.game-button:focused, .game-button:hover 
{
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 0.5px;
}
.game-button-save
{
	-fx-translate-x: 0.0;
    -fx-translate-y: -90.0;
}
.game-button-load
{
	-fx-translate-x: 90.0;
    -fx-translate-y: -90.0;
}
.game-button-bot
{
	-fx-translate-x: 190.0;
    -fx-translate-y: -90.0;
}
.game-button-pause
{
	-fx-translate-x: 299.0;
    -fx-translate-y: -90.0;
}
.game-button-information
{
	-fx-translate-x: 389.0;
    -fx-translate-y: -90.0;
}
.game-button-exit
{
	-fx-translate-x: 479.0;
    -fx-translate-y: -90.0;
}
.game-about-information 
{
	-fx-background-image: url("information.jpg");
	-fx-min-height: 600.0;
	-fx-min-width: 400.0;
	-fx-max-height: 600.0;
	-fx-max-width: 400.0;
}
.game-button_close_information
{ 
    -fx-font-size: 14.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #FF0000; 
    -fx-background-radius: 10.0;
    -fx-border-radius: 10.0;
    -fx-max-height: 20.0;
    -fx-max-width: 100.0;
    -fx-translate-x: 170.0;
    -fx-translate-y: 550.0; 

}
.game-button_close_information:hover 
{
 	-fx-background-color: linear-gradient(#FF0000, #00FF00);
}
.game-info_programm
{ 
    -fx-translate-x: 45.0;
    -fx-translate-y: 50.0; 
	-fx-font: 30.0px Tahoma;
    -fx-fill: linear-gradient(from 0.0% 0.0% to 100.0% 200.0%, repeat, #FF00FF 0.0%, #00FF00 80.0%);
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
}
.game-info_version
{ 
    -fx-translate-x: 90.0;
    -fx-translate-y: 100.0; 
	-fx-font: 22.0px Tahoma;
    -fx-fill: linear-gradient(from 0.0% 0.0% to 100.0% 200.0%, repeat, #FFFFFF 20.0%, #32CD32 80.0%);
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
}
.game-info_developer
{ 
    -fx-translate-x: 15.0;
    -fx-translate-y: 150.0; 
	-fx-font: 38.0px Mistral;
    -fx-fill: linear-gradient(from 50.0% 0.0% to 100.0% 200.0%, repeat, #0000FF 20.0%, #32CD32 80.0%);
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
}

.game-tile-2    
{ 
    -fx-font-size: 55.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #4d88ff; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-4    
{ 
    -fx-font-size: 55.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #ff4d94; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-8    
{ 
    -fx-font-size: 55.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #f2b179; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-16   
{ 
    -fx-font-size: 55.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #e600e6; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-32   
{ 
    -fx-font-size: 55.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #ccff33; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-64   
{ 
    -fx-font-size: 55.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #f65e3b; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-128  
{ 
    -fx-font-size: 45.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #ff8000; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-effect: dropshadow( three-pass-box, rgba(243.0, 215.0, 116.0, 0.2381), 30.0, 0.5, 0.0, 0.0 );
    -fx-border-color: rgba(255.0, 255.0, 255.0, 0.14286);
    -fx-border-width: 1.0;
}
.game-tile-256 
{ 
    -fx-font-size: 45.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #6b00b3;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-effect: dropshadow( three-pass-box, rgba(243.0, 215.0, 116.0, 0.31746), 30.0, 0.5, 0.0, 0.0 );
    -fx-border-color: rgba(255.0, 255.0, 255.0, 0.19048);
    -fx-border-width: 1.0;
}
.game-tile-512  
{ 
    -fx-font-size: 45.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #0000e6; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-effect: dropshadow( three-pass-box, rgba(243.0, 215.0, 116.0, 0.39683), 30.0, 0.5, 0.0, 0.0 );
    -fx-border-color: rgba(255.0, 255.0, 255.0, 0.2381);
    -fx-border-width: 1.0;
}
.game-tile-1024 
{ 
    -fx-font-size: 35.0px;
    -fx-text-fill: #000000;
    -fx-background-color: #ffcc00; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-effect: dropshadow( three-pass-box, rgba(243.0, 215.0, 116.0, 0.47619), 30.0, 0.5, 0.0, 0.0 );
    -fx-border-color: rgba(255.0, 255.0, 255.0, 0.28571);
    -fx-border-width: 1.0;
}
.game-tile-2048 
{ 
    -fx-font-size: 35.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #ff0000; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-effect: dropshadow( three-pass-box, rgba(243.0, 215.0, 116.0, 0.55556), 30.0, 0.5, 0.0, 0.0 );
    -fx-border-color: rgba(255.0, 255.0, 255.0, 0.33333);
    -fx-border-width: 1.0;
}
.game-tile-4096   
{ 
    -fx-font-size: 30.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #b885ac; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-8192   
{ 
    -fx-font-size: 30.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #af6da9; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-16384 
{ 
    -fx-font-size: 30.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #ab61a7; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-32768 
{ 
    -fx-font-size: 30.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #a755a6; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
.game-tile-65536, .game-tile-131072, .game-tile-262144 
{ 
    -fx-font-size: 25.0px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #3c3a32; 
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
}
