[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/StasGordynets
[access "refs/for/refs/*"]
	read = group user/StasGordynets
	push = group user/StasGordynets
	label-Code-Review = -2..+2 group user/StasGordynets
	label-Verified = -1..+1 group user/StasGordynets
	rebase = group user/StasGordynets
	removeReviewer = group user/StasGordynets
	submit = group user/StasGordynets
[access "refs/heads/*"]
	read = group user/StasGordynets
	create = group user/StasGordynets
	push = +force group user/StasGordynets
	pushMerge = group user/StasGordynets
[access "refs/tags/*"]
	push = +force group user/StasGordynets
	pushTag = group user/StasGordynets
	pushSignedTag = group user/StasGordynets
